

*{
    font-family: Arial, sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

a {
    text-decoration: none;
    color: rgb(20, 173, 173);
}

a:hover{
    color: #008080;
}

main{
    margin: 3.5em 0.5em 0.5em 0.5em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100%;
    grid-gap: 0.5em;
    justify-content: center;
}

/* Navigation */
.top-nav{
    z-index: 9999;
    width: 100%;
    background-color: black;
    height: 3em;
    top: 0;
}

.top-nav.fixed{
    position: fixed;
}

.top-nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top-nav > ul > li {
    float: left;
}

.top-nav > ul > li.right {
    float: right;
}

.top-nav > ul > li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.top-nav > ul > li > a:hover{
    background-color: teal;
}

.top-nav > ul > li > a.active {
    background-color: rgb(20, 173, 173);
}

@media screen and (max-width: 600px) {
    .top-nav > ul li,
    .top-nav > ul li.right
     {float: none;}
     main{
        margin: 12em 0.5em 0.5em 0.5em;
    }
}

.listgroup {
    list-style-type: none;
    padding: 0;
    min-width: 100%;
}

.listgroup > li{
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em 1em 0.5em;
    background-color: #66b2b2;
    color: white;
    border-bottom: white 1px solid;
}

button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

.btn-primary {
    background-color: teal;
    color: white;
    border-color: teal;
}

.btn-primary:hover {
    background-color: #004040;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    background-color: #c6c7c8;
}


/* Login Form */
.signin {
    background-color: #FFFFFF;
    width: 400px;
    height: 460px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign, .forgot {
    text-align: center;
    padding-top: 1em;
}

.signin input {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.signin input:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, teal, rgb(20, 173, 173));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit:hover{
    color: lightgrey
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgb(20, 173, 173);
}

.forgot > a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgb(20, 173, 173);
    text-decoration: none
}

.forgot > a:hover {
    color: teal;
}

input:invalid {
    border: 2px dashed red;
}
  
input:valid {
    border: 2px solid black;
}

/*Search and listing */
#country-search {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #country-list, #country-list-all, #country-list-selected{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #country-list th, #country-list td, 
  #country-list-all th, #country-list-all td, 
  #country-list-selected th,  #country-list-selected td{
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #country-list tr, 
  #country-list-all tr, 
  #country-list-selected tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #country-list tr.header, #country-list tr:hover, 
  #country-list-all tr.header, #country-list-all tr:hover, 
  #country-list-selected tr.header,  #country-list-selected tr:hover{
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

  .myBody {
    background-color: #faebd7;
    
    line-height: 1.5;
}

.dashboard-result {
    background-color: white;
}
.center {
    text-align: center;
}


.grid-row{
    grid-column: span 12;
}

.grid-col-6{
    grid-column: span 6;
}

.grid-col-4{
    grid-column: span 4;
}

.grid-col-3{
    grid-column: span 3;
}

