body {
    background-color: antiquewhite;
    line-height: 1.5;
}

nav{
    z-index: 9999;
    width: 100%;
    background-color: black;
    height: 2em;
    top: 0;
    left: 0;
    position: fixed;
}

.top-nav .nav-button{
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    font-size: larger;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-button {
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    background-color: darkgoldenrod;
    color: black;

}

.dashboard-result {
    background-color: white;
}
.center {
    text-align: center;
}


.grid-row{
    grid-column: span 12;
}

.grid-col-6{
    grid-column: span 6;
}

.grid-col-4{
    grid-column: span 4;
}

.grid-col-3{
    grid-column: span 3;
}

*{
    font-family: Arial, sans-serif;
}

html{
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(20, 173, 173);
}

a:hover{
    color: teal;
}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 3.5em 0.5em 0.5em 0.5em;
    min-height: 100%;
    grid-gap: 0.5em;
    justify-content: center;
}

.grid-row{
    grid-column: span 12;
}

.grid-col-6{
    grid-column: span 6;
}

.grid-col-4{
    grid-column: span 4;
}

/* Navigation */
nav{
    z-index: 9999;
    width: 100%;
    background-color: black;
    height: 3em;
    top: 0;
    left: 0;
    position: fixed;
}

.listgroup {
    list-style-type: none;
    padding: 0;
    min-width: 100%;
}

.listgroup > li{
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em 1em 0.5em;
    background-color: #66b2b2;
    color: white;
    border-bottom: white 1px solid;
}

button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

.btn-primary {
    background-color: teal;
    color: white;
    border-color: teal;
}

.btn-primary:hover {
    background-color: #004040;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    background-color: #c6c7c8;
}

nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav> ul > li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

#country-search {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #country-list, #country-list-all, #country-list-selected{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #country-list th, #country-list td, 
  #country-list-all th, #country-list-all td, 
  #country-list-selected th,  #country-list-selected td{
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #country-list tr, 
  #country-list-all tr, 
  #country-list-selected tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #country-list tr.header, #country-list tr:hover, 
  #country-list-all tr.header, #country-list-all tr:hover, 
  #country-list-selected tr.header,  #country-list-selected tr:hover{
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
